<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224939909912-btlqags4qa0l5pmo005u9l4p32nj1tuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224939909912-btlqags4qa0l5pmo005u9l4p32nj1tuc</string>
	<key>API_KEY</key>
	<string>AIzaSyBQos9xLNZ3wSrZ9bHTX7ROS3VcKbAY1gw</string>
	<key>GCM_SENDER_ID</key>
	<string>224939909912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a1.swiftArquiteturas</string>
	<key>PROJECT_ID</key>
	<string>swiftarquiteturas-963b6</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftarquiteturas-963b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224939909912:ios:28c932fd324d32282b346d</string>
</dict>
</plist>